* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  /* background-color: black; */
}
body::-webkit-scrollbar {
  display: none;
}
/* font-family: 'BioRhyme', serif;
font-family: 'Cormorant', serif;
font-family: 'League Spartan', sans-serif; */
header {
  font-family: "League Spartan", sans-serif;
  width: 100vw;
  height: 3rem;
  background-image: linear-gradient(
    to right,
    rgb(36, 34, 34),
    rgb(28, 49, 165)
  );
  color: azure;
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
}
nav {
  width: 90%;
  color: azure;
  font-size: 20px;
  height: 3rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
nav,
nav ul li,
nav a {
  list-style: none;
  text-decoration: none;
  color: azure;
}
#user {
  font-size: 1rem;
}
#hero {
  position: relative;
  width: 100vw;
  min-height: 23rem;
  height: 80dvh;
  max-height: 80dvh;
  display: flex;
  justify-content: center;
}
@media all and (min-width: 300px) and (max-width: 710px) {
  #hero {
    height: 55dvh;
  }
}
#hero img {
  min-width: 100%;
}
#left {
  color: azure;
  font-size: 2.2rem;
  position: absolute;
  left: 2rem;
  cursor: pointer;
  top: 50%;
}
#right {
  color: azure;
  font-size: 2.2rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  cursor: pointer;
}
#btn {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  display: flex;
  gap: 1rem;
}
button {
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  color: azure;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 1rem;
  background-image: linear-gradient(
    to right,
    rgb(36, 34, 34),
    rgb(28, 49, 165)
  );
}
#artisec {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin: 0 auto;
  max-width: 100vw;
  padding: 20px;
  border-radius: 10px;
}
#article > div {
  text-align: center;
  padding: 0 0 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 5rem 5rem;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  font-family: "BioRhyme", serif;
}

p {
  font-family: "League Spartan", sans-serif;
  color: #666;
  margin: 0;
  margin: 1rem 0;
  padding: 0 0.5rem;
}

/* about-section */
#about-section {
  position: relative;
  width: 70vw;
  height: 32rem;
}
#about1 {
  z-index: -1;
  width: 30%;
  min-width: 25rem;
  height: 70%;
  position: absolute;
  top: 5rem;
  left: 0rem;
  box-shadow: rgb(96, 144, 197) 5px 5px 20px 0px;
}
#about1 h1 {
  font-family: "League Spartan", sans-serif;
  margin: 2rem 1rem 0;
}
#about1 p {
  font-family: "League Spartan", sans-serif;
  color: #666;
  margin: 1rem 1rem 0;
  padding: 0;
}
#about1 h3 {
  position: absolute;
  font-family: "League Spartan", sans-serif;
  bottom: 2rem;
  right: 1rem;
  font-size: 18px;
}
#about2 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: rgb(96, 144, 197) 5px 5px 20px 0px;
}
#join {
  position: absolute;
  top: 5rem;
  right: 0;
  width: 60%;
  text-align: center;
  font-size: 30px;
}
#join h1 {
  font-family: "BioRhyme", serif;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    rgb(5, 21, 71),
    rgb(158, 27, 136)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media all and (min-width: 268px) and (max-width: 1000px) {
  #about-section {
    width: 100vw;
    margin-top: 5rem;
    height: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #about1 {
    width: 90%;
    margin: 0 auto;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  #about1 h3 {
    position: absolute;
    font-family: "League Spartan", sans-serif;
    bottom: 2rem;
    right: 1rem;
    font-size: 18px;
  }
  #join {
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 23rem;
    left: 0;
    right: 0;
  }
  #about2 {
    margin: 0 auto;
    width: 90%;
    height: auto;
    position: absolute;
    top: 28rem;
    left: 0;
    right: 0;
  }
}

/* trending products */
#trend {
  font-family: "BioRhyme", serif;
  font-size: 35px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    rgb(5, 21, 71),
    rgb(158, 27, 136)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0 auto;
  width: 90vw;
}
#line {
  max-width: 23rem;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgb(5, 21, 71),
    rgb(158, 27, 136)
  );
}
#listproducts {
  height: 25rem;
  margin: 0 auto;
  width: 90vw;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
/* Hide horizontal scrollbar */
#listproducts::-webkit-scrollbar {
  display: none;
}
.product {
  position: relative;
  height: 22rem;
  text-align: center;
  /* padding: 0 0 20px; */
  box-shadow: 5px 5px 5px rgba(10, 50, 209, 0.1);
  border-radius: 4rem 4rem 0 0;
}
.product img {
  border-radius: 4rem;
  width: 15rem;
  min-width: 15rem;
  height: 15rem;
}
#hove {
  border-radius: 4rem 4rem 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 22rem;
  background: linear-gradient(
    to bottom,
    rgba(36, 34, 34, 0.51),
    rgba(28, 49, 165, 0.492)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
#hove:hover {
  opacity: 1.5;
}
.skel {
  width: 15rem;
  height: 22rem;
  border-radius: 4rem 4rem 0 0;
  background: linear-gradient(
    to right,
    rgba(240, 240, 240, 0.8),
    rgba(216, 214, 214, 0.681),
    rgba(240, 240, 240, 0.8)
  );
  position: relative;
  overflow: hidden;
}

.skel::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(220, 220, 220, 0),
    rgba(222, 219, 219, 0.874),
    rgba(220, 220, 220, 0)
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* newssection */
#newssec {
  position: relative;
  margin: 2.5rem 0;
  width: 100vw;
  height: 38rem;
  background-image: url("https://plus.unsplash.com/premium_photo-1661483130622-7b98709ea9be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1926&q=80");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#newslist {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#newslist::-webkit-scrollbar {
  display: none;
}
#newslist > div {
  width: calc(30.33% - 0.5rem); /* Adjust the width as needed */
  min-width: 200px;
}
@media all and (min-width: 1100px) and (max-width: 1500px) {
  #newslist > div {
    width: calc(29.33% - 0.5rem); /* Adjust the width as needed */
  }
}

@media all and (min-width: 1000px) and (max-width: 1100px) {
  #newslist > div {
    width: calc(46% - 0.5rem); /* Adjust the width as needed */
  }
}
@media all and (min-width: 634px) and (max-width: 1000px) {
  #newslist > div {
    width: calc(43% - 0.5rem); /* Adjust the width as needed */
  }
}

@media all and (max-width: 633px) {
  #newslist > div {
    width: calc(100% - 1rem); /* Adjust the width as needed */
  }
}

#newslist > div {
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.279);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#newslist > div > img {
  width: 100%;
  height: 23rem;
  object-fit: cover;
  margin-bottom: 1rem;
}
#newslist > div > h1 {
  padding: 1rem 0;
  font-weight: 450;
  font-family: "League Spartan", sans-serif;
  display: inline;
}
#newslist > div > p {
  padding: 0;
  font-family: "BioRhyme", serif;
}

#break {
  margin-top: 5rem;
  text-align: center;
  font-family: "BioRhyme", serif;
  font-size: 35px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    rgb(5, 21, 71),
    rgb(158, 27, 136)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0 auto;
  width: 90vw;
}
#bline {
  margin: auto;
  max-width: 23rem;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgb(5, 21, 71),
    rgb(158, 27, 136)
  );
}

/* =============footer================ */
footer {
  margin: 2rem auto;
  display: flex;
  width: 95vw;
  height: 21rem;
  /* border: 1px solid; */
  box-shadow: rgba(20, 70, 248, 0.329) 0px 2px 8px 0px;
}
#contactform {
  position: relative;
  width: 40%;
  max-width: 400px;
  min-width: 300px;
}
#contactform form {
  position: absolute;
  inset: 5px;
  background: #00000000;
  padding: 20px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
#contactform form h3 {
  font-size: 30px;
  margin-bottom: 1rem;
  color: #000000;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  font-weight: 300;
  max-width: 380px;
}
#contactform form .inputbox {
  position: relative;
  width: 100%;
  margin-top: 0.6rem;
  max-width: 380px;
}
#contactform form .inputbox input,
textarea {
  font-family: "Cormorant", serif;
  position: relative;
  font-weight: 700;
  width: 100%;
  padding: 3px 0;
  border: none;
  border-bottom: 2px solid rgba(10, 95, 169, 0.656);
  background: transparent;
  outline: none;
  background-image: linear-gradient(
    to right,
    rgb(72, 115, 245),
    rgb(255, 0, 212)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1em;
  letter-spacing: 0.05em;
}
#contactform form .inputbox button {
  display: block;
  margin: auto;
}
/* ============social media */
#socailicon {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
#icons {
  height: 300px;
  width: 45px;
  min-width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#icons li {
  list-style: none;
}
#socailicon img {
  width: 80px !important;
}
iframe {
  width: 100%;
}
@media all and (min-width: 300px) and (max-width: 710px) {
  footer {
    display: flex;
    justify-content: space-around;
  }
  iframe {
    display: none;
  }
}

#copyright {
  position: relative;
  width: 100vw;
  background-image: linear-gradient(
    to right,
    rgb(36, 34, 34),
    rgb(28, 49, 165)
  );
}
#copyright p {
  color: azure;
  margin: auto;
  text-align: center;
  padding: 0.7rem 0;
}
#arrow_up {
  z-index: 10;
  width: 30px;
  position: absolute;
  right: 0.3rem;
  top: -2.2rem;
}
#arrow_up:hover {
  cursor: pointer;
  background-color: #000000;
  border-radius: 50%;
}
@media all and (min-width: 300px) and (max-width: 710px) {
  #arrow_up {
    z-index: 10;
    width: 25px;
    position: absolute;
    right: 0.3rem;
    top: -1.8rem;
  }
}
