* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  /* overflow-x: hidden; */
  overflow-y: scroll;
  /* background-color: black; */
}
body::-webkit-scrollbar {
  display: none;
}
button {
  display: block;
  margin: auto;
  width: fit-content;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  color: azure;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 1rem;
  background-image: linear-gradient(
    to right,
    rgb(36, 34, 34),
    rgb(28, 49, 165)
  );
}
/* ==========nav_sec-------- */
#nav_sec {
  font-family: "League Spartan", sans-serif;
  width: 100vw;
  height: 3rem;
  background-image: linear-gradient(
    to right,
    rgb(36, 34, 34),
    rgb(28, 49, 165)
  );
  display: flex;
  align-items: center;
  color: azure;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
}
nav,
a {
  margin: auto;
  width: 85vw;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  color: azure;
}
#main_sec {
  display: flex;
}
#side_bar {
  width: 20%;
}
#product_list_main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#product_list_main > :nth-child(1) {
  padding: 1.2rem;
  font-style: italic;
  font-weight: 900;
  font-family: "League Spartan", sans-serif;
  font-size: 35px;
  background-image: linear-gradient(
    to right,
    rgb(5, 21, 71),
    rgb(158, 27, 136)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#product_list {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
#line {
  width: 100%;
  height: 4px;
  margin-bottom: 1rem;
  background-image: linear-gradient(
    to right,
    rgb(0, 98, 255),
    rgb(247, 8, 203)
  );
  position: relative;
  overflow: hidden;
}

#line::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgb(10, 53, 244),
    rgb(238, 38, 238)
  );
  position: absolute;
  top: 0;
  left: -100%;
  animation: moving 5s linear infinite;
}

@keyframes moving {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.product {
  position: relative;
  width: calc(30.33% - 20px);
  height: 22rem;
  box-shadow: 0 2px 10px rgba(8, 28, 177, 0.389);
  text-align: center;
  border-radius: 0 0 3rem 3rem;
}

.product img {
  width: 100%;
  max-width: 100%;
  height: 50%;
  border-radius: 3rem 3rem 0 0;
}

.product h3 {
  font-family: "League Spartan", sans-serif;
  font-size: 1.2rem;
  margin: 10px 0;
}
.pricespan {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  color: #093d74;
}
.btn {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product button {
  display: block;
  margin: auto;
  width: fit-content;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  color: azure;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 1rem;
  background-image: linear-gradient(
    to right,
    rgb(36, 34, 34),
    rgb(28, 49, 165)
  );
}
button:hover {
  background-image: linear-gradient(
    to right,
    rgb(67, 63, 63),
    rgb(41, 68, 224)
  );
}

.hove {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(36, 34, 34),
    rgb(28, 49, 165)
  );
  opacity: 0;
}
.product:hover {
  .hove {
    opacity: 0.5;
  }
}
#desc {
  padding: 0 0.5rem;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-family: "Cormorant", serif;
}
.btnpagi {
  padding: 2rem 0 1rem 0;
  width: 20%;
  margin: auto;
  display: flex;
  gap: 8px;
}
/* ===========sidebar--------- */
#side_bar {
  /* border: 1px solid; */
  width: 30%;
  max-width: 280px;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(8, 28, 177, 0.389);
}
#side_bar > div {
  width: 200px;
  margin: 0 auto;
}
#side_bar > div #h2 {
  padding: 0.2rem 0;
  font-style: italic;
  margin-top: 1.5rem;
  text-decoration: underline;
  font-weight: 900;
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  background-image: linear-gradient(
    to right,
    rgb(5, 21, 71),
    rgb(158, 27, 136)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#side_bar > div #span {
  padding: 0.2rem 0;
  font-style: italic;
  margin-top: 1.5rem;
  text-decoration: underline;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
}

#side_bar > div label {
  font-family: "Cormorant", serif;
  font-size: 20px;
}
.sort {
  width: 100%;
  padding: 0.5rem;
  color: azure;
  margin: 0.5rem 0;
  font-family: "Cormorant", serif;
  font-weight: 500;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    rgb(36, 34, 34),
    rgb(28, 49, 165)
  );
}

.slider-container {
  margin: 20px 0;
  text-align: center;
}

label {
  font-size: 18px;
}

#priceRange {
  width: 80%;
  max-width: 400px;
}
